

.cname{
	height:150px;
	background-color:#9B9695;
	color:white;
	text-align:center;
	padding-top:58px;
	box-sizing:border-box;
	font-size:35px;
	font-weight:bold;
	
	    
}

.menu{
	background-color:#B77D60;
	height:50px;
	text-align:center;
	padding-top:15px;
	box-sizing:border-box;
}


.menu a:hover{
	color:red;
}

.menu a{
	color:white;
	text-decoration:none;
	display:block;
}



.banner{
	background-color:#C70039;
	margin-top:5px;
	height:250px;
	text-align:center;
	padding-top:100px;
	box-sizing:border-box;
	font-size:50px;
	font-weight:bold;
	color:white;
}

.about p{
	text-align:justify;
}

.services p{
	text-align:justify;
}

h3,h2{
	text-align:center;
}

.project{
	text-align:justify;
}

.temp{
	background-color:orange;
	text-align:center;
}



.temp a{
	text-decoration:none;
	color:white;
}

	
	